body {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
}

h1 {
  margin: 20px 0;
  font-size: 36px;
  font-weight: 500;
  color: #b3658a;
}

p {
  margin: 5px 0;
}

textarea {
  padding: 10px;
  font-size: 18px;
}

textarea:focus {
  border: 1px solid #f09bc2;
  outline: 2px solid #c25a8a;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.keyboard {
  max-width: 100%;
  margin: 20px auto;
  padding: 5px;
  background: #ceb9b9;
  border: 3px solid #998080;
  border-radius: 7px;
}

.keyboard-row {
  display: flex;
  gap: 7px;
  margin: 5px 5px;
}

.key-row1 {
  flex-grow: 1;
}

.key-row2-first {
  flex-grow: 1;
}

.key-row2-last {
  flex-grow: 0.2;
}

.key-row3-4-first {
  flex-grow: 1;
}

.key-row3-4-last {
  flex-grow: 0.7;
}

.key-row5-space {
  flex-grow: 1;
}

.button {
  width: 50px;
  height: 50px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #362f32;
  background: #f9bfda;
  border: 1.5px solid #cfa9c5;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.button:hover {
  background: #a7d5df;
  border-color: #b4dae2;
}

.button:active, 
.active {
  background: #78d8ee;
  border-color: #78d8ee;
  border-radius: 50px;
}

.button-color {
  background: #f482c0;
}
